body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}
.navbar {
  height: 5rem;
  background-color: white;
}
/* .navbar-toggler-icon:active{
  border: 20px solid #fe424d;
  border-radius: 10px;
}
.navbar-toggler-icon:hover{
  background-color: #fe424d;
  border-radius: 10px;
} */
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
  margin-right: 8px;
}
.navbar-nav {
  margin-top: 5px;
}
.nav-link {
  color: #222222 !important;
}
.f-info-links a {
  text-decoration: none;
  color: #222;
  margin-right: 1.5rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}
.f-Info {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #ebebeb;
  height: 7rem;
  align-items: center;
}
.f-info-social,
.f-info-links {
  width: 100%;
}
.f-info-social {
  font-size: 1.2rem;
}
.f-info-social i {
  margin-right: 1.5rem;
}
.brand {
  font-style: italic;
}
/* index page */
.listing-card {
  border: none;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: conver !important;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.1;
  background-color: white;
}
/* new page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* edit page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* show page */
.show-img {
  height: 30vh;
}
.btns {
  display: flex;
  margin-bottom: 1rem;
}

/* reting  */
.input-no-rate {
  /* font-size: 1px; */
  border: 10px solid black;
}

/* style for map */
/* #map {
  height: 400px;
  width: 80vh;
} */
#map {
  width: 100%;
  height: 400px; /* adjust as needed */
}
/* booking  */
.btn-edit {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
}
.btn-edit:hover {
  background-color: #000;
}

.btn-delete {
  background-color: crimson;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
}
.btn-delete:hover {
  background-color: darkred;
}

.btn-booknow {
  background-color: #fe424d;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  text-decoration: none;
}
.btn-booknow:hover {
  background-color: #dc1725;
  box-shadow: 5px 5px 5px black;
}
