<% layout("/listings/layouts/boilerplate.ejs") %>
<div class="row mt-3">
  <h1 class="col-6 offset-3">SignUp on Bookify</h1>
  <div class="col-6 offset-3">
    <form action="/signup" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-lable">Username</label>
        <input
          name="username"
          placeholder="username"
          class="form-control"
          id="username"
          type="text"
          required
        />
        <div class="valid-feedback">Looks good</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-lable">Email</label>
        <input
          name="email"
          placeholder="email"
          class="form-control"
          id="email"
          type="email"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-lable">Password</label>
        <input
          name="password"
          placeholder="password"
          class="form-control"
          id="password"
          type="password"
          required
        />
        <div class="invalid-feedback">Password is Required</div>
      </div>
      <button class="btn btn-success">SignUp</button>
    </form>
  </div>
</div>
